.frameChild {
  width: 52px;
  height: 52px;
  position: relative;
}
.automotiveSeo {
  align-self: stretch;
  position: relative;
  line-height: 23px;
  font-weight: 700;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.driveYourSuccess {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body300-rg1-size);
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
}
.serviceCard {
  width: 297px;
  box-shadow: -3px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-base) var(--padding-32xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--h200-semi-size);
  color: var(--color-gray-400);
  font-family: var(--h300-bold);
}
