.iconBackgrounds {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 100%;
}
.dModel90408663Icon {
  position: absolute;
  top: 31px;
  left: 30.5px;
  width: 128px;
  height: 128px;
  object-fit: contain;
  z-index: 1;
}
.iconContainers {
  height: 190px;
  flex: 1;
  position: relative;
}
.icon {
  width: 190px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 100%;
}
.medal243907811,
.medal24390781Icon {
  position: absolute;
  top: 31px;
  left: 31.5px;
  width: 128px;
  height: 128px;
  object-fit: contain;
  z-index: 1;
}
.medal243907811 {
  z-index: 2;
}
.ellipseParent {
  height: 190px;
  flex: 1;
  position: relative;
}
.copyright,
.icon1,
.modelIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.icon1 {
  width: 190px;
  justify-content: flex-start;
}
.copyright,
.modelIcon {
  max-width: 100%;
}
.modelIcon {
  width: 849px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.copyright {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.discoverHowLeveraging,
.trustBuildingWith {
  align-self: stretch;
  position: relative;
  line-height: 48px;
}
.discoverHowLeveraging {
  margin: 0;
  line-height: 36px;
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
}
.caseStudies {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 404px;
  max-width: 100%;
}
.learnHowOur,
.mobileFirstSuccess {
  align-self: stretch;
  position: relative;
  line-height: 48px;
}
.learnHowOur {
  line-height: 36px;
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
}
.caseStudies1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 404px;
  max-width: 100%;
}
.caseStudyPair {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-19xl);
}
.caseStudyPair,
.copyrightParent,
.socialProofContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.copyrightParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.socialProofContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-61xl) var(--padding-78xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h300-bold-size);
  color: var(--color-gray-400);
  font-family: var(--h300-bold);
}
@media screen and (max-width: 750px) {
  .modelIcon {
    flex-wrap: wrap;
  }
  .caseStudies,
  .caseStudies1 {
    min-width: 100%;
  }
  .caseStudyPair {
    gap: var(--gap-lgi);
  }
  .socialProofContainer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .discoverHowLeveraging,
  .trustBuildingWith {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }
  .discoverHowLeveraging {
    line-height: 29px;
  }
  .learnHowOur,
  .mobileFirstSuccess {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }
  .learnHowOur {
    line-height: 29px;
  }
}
