.drivingPropertyInquiries,
.streamlinedStrategiesFor {
  align-self: stretch;
  position: relative;
  line-height: 48px;
}
.streamlinedStrategiesFor {
  height: 44px;
  font-size: var(--h300-bold-size);
  line-height: 36px;
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.propertyInquiries,
.titleContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.titleContent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.propertyInquiries {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
  box-sizing: border-box;
}
.houseSearchingbroIcon {
  width: 500px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.optimizedPathTo {
  align-self: stretch;
  position: relative;
  line-height: 48px;
}
.inTheDynamic {
  margin: 0;
  width: 682px;
  position: relative;
  font-size: var(--h300-bold-size);
  line-height: 36px;
  font-family: var(--body300-rg);
  color: var(--color-darkslategray-100);
  display: inline-block;
  max-height: 216px;
  word-break: break-word;
}
.optimizedPathToPropertyPurParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.getStarted {
  position: relative;
  font-size: var(--h200-semi-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--h300-bold);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 105px;
}
.customerService2FillIcon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.mButtons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-5) var(--padding-45xl);
  background-color: var(--color-royalblue);
  border-radius: var(--br-13xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  white-space: nowrap;
}
.mButtons:hover {
  background-color: var(--color-cornflowerblue);
}
.frameParent {
  width: 682px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.houseSearchingbroParent,
.purchasePathContainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.houseSearchingbroParent {
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.purchasePathContainer {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  text-align: left;
}
.drivingPropertyInquiries1 {
  align-self: stretch;
  position: relative;
  line-height: 48px;
}
.featurePairParent,
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.featurePairParent {
  display: flex;
  align-items: flex-start;
  gap: 35px 33px;
  max-width: 100%;
  font-size: var(--h300-bold-size);
}
.frameGroup {
  gap: 38px 36px;
}
.frameGroup,
.propertyInquiriesParent,
.strategiesContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.propertyInquiriesParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.strategiesContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-60xl) var(--padding-45xl) var(--padding-61xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h400-bold-size);
  color: var(--color-gray-400);
  font-family: var(--h300-bold);
}
@media screen and (max-width: 1200px) {
  .strategiesContainer {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .drivingPropertyInquiries,
  .drivingPropertyInquiries1,
  .optimizedPathTo {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .strategiesContainer {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .featurePairParent,
  .frameParent {
    gap: var(--gap-base);
  }
  .frameGroup {
    gap: var(--gap-lg);
  }
  .propertyInquiriesParent {
    gap: var(--gap-13xl);
  }
  .strategiesContainer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .drivingPropertyInquiries,
  .drivingPropertyInquiries1,
  .inTheDynamic,
  .optimizedPathTo,
  .streamlinedStrategiesFor {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .propertyInquiriesParent {
    gap: var(--gap-base);
  }
  .strategiesContainer {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
